h1.fnt-red {
    color: red;
    }
    
    .fnt-blue {
    color: blue;
    }
    
    #nombre_alumno {
        color: red;
        text-decoration: underline;
    }

a{
    font-size: 25px;
    font-style: normal;
    color: rgb(88, 126, 175);
}
    