div.container {
    background-color: rgb(180, 180, 180);
    margin: auto;
    width: 25%;
    height: 100%;
    padding: 25px;
}

p::first-letter {
    font-size: 2em;       
}

p::first-line {
    color: rgb(136, 44, 44);
}