div.rectangle {
    position: relative;
    background-color: rgb(138, 23, 23);
    text-align: center;
    margin: auto;
    width: 50%;
    height: 500px;
}

div.rectangle p{
    position: relative;
    top: 20%;
    color: white;
    font-size: 80px;
}

div.cirUpLeft {
    position: absolute;
    width: 25%;
    height: 30%;
    background-color: white;
    border: 10px solid rgb(138, 23, 23);
    border-radius: 100%;
    top: -10%;
    left: -10%;
}

div.cir2UpRight {
    position: absolute;
    width: 25%;
    height: 30%;
    background-color: white;
    border: 10px solid rgb(138, 23, 23);
    border-radius: 100%;
    top: -10%;
    right: -10%;
}

div.cirDownLeft {
    position: absolute;
    width: 25%;
    height: 30%;
    background-color: white;
    border: 10px solid rgb(138, 23, 23);
    border-radius: 100%;
    bottom: -10%;
    left: -10%;
}

div.cirDownRight {
    position: absolute;
    width: 25%;
    height: 30%;
    background-color: white;
    border: 10px solid rgb(138, 23, 23);
    border-radius: 100%;
    bottom: -10%;
    right: -10%;
}
